{
  "settings": {
    "project_start_date": "2026-02-08",
    "working_start_hour": 8,
    "working_end_hour": 16,
    "hours_per_day": 8
  },
  "milestones": [
    {
      "milestone_id": 1,
      "milestone_name": "70015",
      "customizations": {
        "color": "red",
        "length": 576
      },
      "extra_args": [
        {
          "part_number": "60010.1",
          "customizations": {
            "color": "red",
            "length": 576
          }
        },
        {
          "part_number": "60010.2",
          "customizations": {
            "color": "purple",
            "length": 234
          }
        },
        {
          "part_number": "60010.3"
        }
      ]
    },
    {
      "milestone_id": 2,
      "milestone_name": "70016",
      "customizations": {
        "color": "blue",
        "length": 576
      }
    },
    {
      "milestone_id": 3,
      "milestone_name": "70017",
      "customizations": {
        "color": "green",
        "length": 576
      }
    },
    {
      "milestone_id": 4,
      "milestone_name": "70018",
      "customizations": {
        "color": "purple",
        "length": 234
      }
    }
  ]
}